*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;

}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: aquamarine;
}

#main-header{
    background-color: rgb(73, 104, 86);
    height: 60px;
}
.nav-bar ul{
    display: flex;
    justify-content: center;
   
    
   
}
.nav-bar li{
    list-style-type: none;
    padding-top: 20px;
    margin-right: 50px;
   

}

.container{
    display: flex;
    height: fit-content;
    flex-basis: 800px;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
background-color: rgb(79, 90, 90);
}

#main-section img{
    margin: 20px;
    border:5px hidden;
    border-radius: 50%;
    
    
}

.decription{
   color: white; 
}

.decription h2{
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 15px;
}
.decription p{
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 50px;
}

footer{
    text-align: center;
    background-color: rgb(106, 218, 143);
    padding: 20px;
    color: white;
    word-spacing: 0.5em;
    background-color: rgb(73, 104, 86);
   
}

.decription a{
    border: none;
    background-color: rgb(102, 158, 139);
    padding: 20px;
    border-radius: 10px;
   
}

.card-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    background-color: rgb(56, 56, 56);
    border-radius: 15px;
    padding: 0 auto;
    margin-top: 30px;
    padding-top: 10px;
    width: 500px;
    margin-bottom: 30px;

}

.card h2{
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

.card li{
    list-style-type: none;
    padding: 20px;
    color: white;
    text-align: center;
}
.container img{
    height: 600px;
    border-radius: 15px;
}

.card-wrap a{
    border: none;
    background-color: rgb(102, 158, 139);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
   
}
.container-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: rgb(79, 90, 90);
    height: 900px;
}

.container-contact h1{
    font-size: 3rem;
    font-style: italic;
    color: white;
}
.inputs{
    padding-top: 20px;
    
   
}
input, textarea{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    
}

textarea{
    margin-bottom: 20px;
}
button{
    width: 40%;
  background-color:rgb(102, 158, 139); 
  color: white;
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;

}
label{
    color: white;
}
.form-wrap{
    width: 800px;
    background-color: rgb(56, 56, 56);
    padding: 50px;
    border-radius: 15px;
    margin-bottom: 50px;
}

